.Header-logo{
    height: 80px;
   
}
.Header{
    text-align: center;
}

.Header nav{
    background-color: black;
    line-height: 40px;

}

nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px;
    margin-right: 20px;
}

nav a:hover{
    background-color: gray;
}